# Assignment 3

In [6]:
##ans 1:
list1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

list2 = sorted(my_list, key=lambda x: x[1])

print(list2)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [8]:
## ans 2:
t1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t2=list(map(lambda x:x**2,t1))
print(t2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#ans 3:
m1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m2=list(map(lambda x:str(x),m1))
print(m2)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [11]:
#ans 4:
from functools import reduce

list1 = list(range(1, 26))

product = reduce(lambda x, y: x*y, list1)

print(product)

15511210043330985984000000

In [13]:
#ans 5:
my_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

final_list = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, my_list))

print(final_list)

[6, 60, 90, 120]

In [14]:
#ans 6:
t1=['python', 'php', 'aba', 'radar', 'level']
t2=list(filter(lambda x:x==x[::-1],t1))
print(t2)

['php', 'aba', 'radar', 'level']